.led-indicator {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-left: 5px;
}

.led-red {
  background-color: #ff0000;
}

.led-green {
  background-color: #00ff00;
}